body{
    background-color: #cccccc;
    background-image: url('./img/imagen1.png');
    background-repeat: no-repeat; /* repeat, no-repeat, repeat-x, repeat-y */
    background-size: 100%;
    background-attachment: fixed;  /*para que el fondo se quede fijado*/
    background-position: right bottom; /* posicion de el background*/
    color: red;
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(65, 179, 227);
    color: white;
}

h2 {
    color:red;
    border: 5px solid red;
}
